#work-block {
  color: #fd7e14;
}

.quotation-mark {
  margin-top: -10px;
  font-weight: bold;
  font-size: 100px;
  color: #fd7e14;
  font-family: "Times New Roman", Georgia, Serif;
}

.quote-text {
  font-size: 19px;
  margin-top: -65px;
}

.max-width-18-r {
  max-width: 18rem;
}

.border-orange {
  border-color: #fd7e14;
}

.min-height-200 {
  min-height: 200px;
}
